@import url('https://fonts.googleapis.com/css2?family=Artifika&family=Bungee+Spice&display=swap');

:root {
    --form_search: #3e3e3e7e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Artifika', serif;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--form_search);
    padding-inline: 3rem;
    padding-block: 0.4rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    
    & .header_img {
        width:80px;
        height: 80px;
        & .image_nav {
            width: 100%;
            height: 100%;
            object-fit:contain;
        }
    }

    & .anchor_menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        & a {
            text-decoration: none;
            color: #fff;
            padding: 0.6rem 1.2rem;
            margin-inline: 0.5rem;
            border:1px solid #ffffff00;
            border-radius: 5px;
            font-weight: 800;
            font-size: 1.13rem;
            text-shadow: 2px 2px 2px #333;
            text-transform: uppercase;
        }
        & a:hover {
            border:1px solid #fff;
            text-shadow: 2px 2px 2px #333;
        }
        & a:active {
            background-color: #fff;
            border:1px solid #fff;
            color: #333;
            text-shadow: none;
        }

        & button {
            text-decoration: none;
            color: #fff;
            background-color: transparent;
            cursor: pointer;
            padding: 0.6rem 1.2rem;
            margin-inline: 0.5rem;
            border:1px solid #ffffff00;
            border-radius: 5px;
            font-weight: 800;
            font-size: 1.13rem;
            text-shadow: 2px 2px 2px #333;
            text-transform: uppercase;
        }
        & button:hover {
            border:1px solid #fff;
            text-shadow: 2px 2px 2px #333;
        }
        & button:active {
            background-color: #fff;
            border:1px solid #fff;
            color: #333;
            text-shadow: none;
        }
    }

    & .profile_nav {
        background-color: #fff;
        border-radius: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);

        & p {
            text-align: center;
            font-size: 1.2rem;
            font-weight: bold;
            color: #333;
            text-transform: uppercase;
            margin-right: 1rem;
        }

        & img {
            width: 60px;
            height: 60px;
            object-fit:contain;
        }
    }

    & .hamburger-navbar {
        display: flex;
        flex-direction: row;
        align-items: center;


        & :hover {
            cursor: pointer;
        }
        
    }

}

.slide-right-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 18%;
    background-color: black;
    z-index: 88;
    transition: 0.5s;

    & .slide-right-navbar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-block: 12rem;
        margin-inline: 1rem;

        & a {
            font-size: 1.2rem;
            font-weight: 800;
            color: #fff;
            padding: 1.5rem 1rem;
            text-decoration: none;
            border-bottom: 2px solid #fff;
            text-align: center;
            width: 75%;
            transition: all 0.1s ease-out;

            &:hover {
                border-bottom: 5px solid #fff;
            }

            &:active {
                background-color: #fff;
                color: #333;
            }
        }
    }
}

.form_search {
    & .form_search_ {
        background-color: #fff;
        position: absolute;
        top: 20%;
        right: 2%;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 40px;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
        & input {
            outline: none;
            border: none;
            caret-color: #333;
            background-color: transparent;
            height: 30px;
            padding-inline: 0.6rem;
            color: #333;
            font-size: 1.2rem;
        }
        & button {
            width: 30px;
            height: 30px;
            border: none;
            padding: 3px;
            background-color: transparent;
            cursor: pointer;
            & .icon_search {
                color: #333;
                font-size: 1.2rem;
            }
        }
    }
}
