* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.artWork-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    place-items: center;
    margin-block: 3rem;

    @media only screen and (max-width: 1460px) {
        grid-template-columns: 1fr 1fr; /* Change to two columns on smaller screens */
    }
    
    @media only screen and (max-width: 1170px) {
        grid-template-columns: 1fr; /* Change to single column on even smaller screens */
    }

    & .artWork-box {
        width: 450px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .artwork-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 450px;
            padding-block: 0.8rem;
            margin-bottom: 1rem;
            box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.219);
            border-radius: 50px;

            & div {
                display: inline-flex;
                align-items: center;
                width: 450px;
                padding-left: 1rem;

                & img {
                    border-radius: 50px;
                }

                & p {
                    margin-inline-start: 1rem;
                    font-size: 1.2rem;
                }
            }
        }

        & .artwork-image {
            box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.3);
            border-radius: 20px;
            overflow: hidden;

            & img {
                object-fit: cover;
            }

            .artwork-info {
                margin-block: 0.5rem;
                padding-left: 0.8rem;

                & .artwork-info-title {
                    font-size: 1rem;
                    font-weight: 700;
                }

                & .artwork-info-date {
                    font-size: 0.7rem;
                    font-weight: 500;
                    padding-block: 0.8rem;
                }
            }

            & .artwork-like-comment {
                padding: 0.8rem;

                & div {
                    display: inline-flex;
                    margin-right: 1rem;
                    align-items: center;

                    & p {
                        font-size: 1rem;
                        margin-inline-start: 1rem;
                    }
                }
            }
        }
    }
}

